__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
.env
.env.local
.env.example
*.db
**/chroma_db/
.ruff_cache/
. ruff/
README.md
dist/
build/
*.egg-info/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.pyright/
